<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.training.environment.dao.ZoneMapper">
    <resultMap id="BaseResultMap" type="com.training.environment.po.Zone">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="ac_code" jdbcType="VARCHAR" property="acCode"/>
        <result column="temp_preference" jdbcType="INTEGER" property="tempPreference"/>
        <result column="wind_speed_preference" jdbcType="INTEGER" property="windSpeedPreference"/>
    </resultMap>
    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause">
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
        id
        , name, ac_code, temp_preference, wind_speed_preference
    </sql>
    <select id="selectByExample" parameterType="com.training.environment.po.ZoneExample" resultMap="BaseResultMap">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>
        from zone
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from zone
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete
        from zone
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <delete id="deleteByExample" parameterType="com.training.environment.po.ZoneExample">
        delete from zone
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </delete>
    <insert id="insert" useGeneratedKeys="true" parameterType="com.training.environment.po.Zone">
        insert into zone (id, name, ac_code,
                          temp_preference, wind_speed_preference)
        values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{acCode,jdbcType=VARCHAR},
                #{tempPreference,jdbcType=INTEGER}, #{windSpeedPreference,jdbcType=INTEGER})
    </insert>
    <insert id="insertSelective" useGeneratedKeys="true" parameterType="com.training.environment.po.Zone">
        insert into zone
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="acCode != null">
                ac_code,
            </if>
            <if test="tempPreference != null">
                temp_preference,
            </if>
            <if test="windSpeedPreference != null">
                wind_speed_preference,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="acCode != null">
                #{acCode,jdbcType=VARCHAR},
            </if>
            <if test="tempPreference != null">
                #{tempPreference,jdbcType=INTEGER},
            </if>
            <if test="windSpeedPreference != null">
                #{windSpeedPreference,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <insert id="insertMany" useGeneratedKeys="true" parameterType="com.training.environment.po.Zone">
        INSERT INTO ZONE (name, ac_code, temp_preference, wind_speed_preference)
        VALUES
        <foreach collection="list" index="index" item="zone" separator=",">
            <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="zone.name != null">
                    #{zone.name,jdbcType=VARCHAR},
                </if>
                <if test="zone.acCode != null">
                    #{zone.acCode,jdbcType=VARCHAR},
                </if>
                <if test="zone.tempPreference != null">
                    #{zone.tempPreference,jdbcType=INTEGER},
                </if>
                <if test="zone.windSpeedPreference != null">
                    #{zone.windSpeedPreference,jdbcType=INTEGER},
                </if>
            </trim>
        </foreach>
    </insert>
    <select id="countByExample" parameterType="com.training.environment.po.ZoneExample" resultType="java.lang.Long">
        select count(*) from zone
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </select>
    <update id="updateByExampleSelective" parameterType="map">
        update zone
        <set>
            <if test="row.id != null">
                id = #{row.id,jdbcType=INTEGER},
            </if>
            <if test="row.name != null">
                name = #{row.name,jdbcType=VARCHAR},
            </if>
            <if test="row.acCode != null">
                ac_code = #{row.acCode,jdbcType=VARCHAR},
            </if>
            <if test="row.tempPreference != null">
                temp_preference = #{row.tempPreference,jdbcType=INTEGER},
            </if>
            <if test="row.windSpeedPreference != null">
                wind_speed_preference = #{row.windSpeedPreference,jdbcType=INTEGER},
            </if>
        </set>
        <if test="example != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByExample" parameterType="map">
        update zone
        set id = #{row.id,jdbcType=INTEGER},
        name = #{row.name,jdbcType=VARCHAR},
        ac_code = #{row.acCode,jdbcType=VARCHAR},
        temp_preference = #{row.tempPreference,jdbcType=INTEGER},
        wind_speed_preference = #{row.windSpeedPreference,jdbcType=INTEGER}
        <if test="example != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByPrimaryKeySelective" parameterType="com.training.environment.po.Zone">
        update zone
        <set>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="acCode != null">
                ac_code = #{acCode,jdbcType=VARCHAR},
            </if>
            <if test="tempPreference != null">
                temp_preference = #{tempPreference,jdbcType=INTEGER},
            </if>
            <if test="windSpeedPreference != null">
                wind_speed_preference = #{windSpeedPreference,jdbcType=INTEGER},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.training.environment.po.Zone">
        update zone
        set name                  = #{name,jdbcType=VARCHAR},
            ac_code               = #{acCode,jdbcType=VARCHAR},
            temp_preference       = #{tempPreference,jdbcType=INTEGER},
            wind_speed_preference = #{windSpeedPreference,jdbcType=INTEGER}
        where id = #{id,jdbcType=INTEGER}
    </update>
</mapper>